<li class="level1 folder "><a href="[[~[[+id]]]]" class="[[+alias]]" title="[[+pagetitle]]">[[+title]]</a>
	<div class="sub col1">
		<div class="inner clearfix">
			<div class="col">
				<ul>
					[[Wayfinder? 
					&startId=`70` 
					&config=`megamenu_list`
					&level=`1` 
					&showSubDocCount=`1`
					]]
					[[Wayfinder? 
					&startId=`77` 
					&config=`megamenu_list`
					&level=`1` 
					&showSubDocCount=`1`
					]]
					<li class="level2 "><a href="[[~7]]" class="vorpraktikanten" title="Vorpraktikanten">Vorpraktikanten</a></li>
					<li class="level2 "><a href="[[~7]]" class="berufspraktikanten" title="Berufspraktikanten im Anerkennungsjahr">Berufspraktikanten</a></li>
				</ul>
			</div>
		</div>
	</div>
</li>

