<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>MIGX - Iframe</title>
<meta charset="utf-8" />
<base href="[[++site_url]]" />

</head>

<body>
<h2>MIGX - Iframe</h2>

connector-url: [[+migx_config.connectorUrl]]<br />
HTTP_MODAUTH: [[+request.HTTP_MODAUTH]]<br />
tv_name: [[+request.tv_name]]<br />
resource_id: [[+request.resource_id]]<br />
action: [[+request.action]]<br />
configs: [[+request.configs]<br />


</body>
</html>